.banner-container {
    background-color: #0282f9;
}

li {
    list-style-type: none;
}

li img {
    width: 20%;
}

span {
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-size: 0.9em;
}
