.links {
  height: 25px;
  width: 100%;
  background-color: #0282f9;
}

ul {
  margin-bottom: 0;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  font-weight: bold;
}

.links ul li {
  margin-right: 40px;
}

.links ul li a {
  font-size: 0.6em;
  letter-spacing: 0.7px;
}

.menu {
  background-color: white;
}

.logo-dc {
  width: 70%;
}

.menu ul li {
  margin-right: 15px;
  padding: 40px 0;
}

.menu ul li a {
  color: #464646;
  font-size: 0.9em;
}

.active {
  border-bottom: 5px solid #0282f9;
}

.searchbar {
  border: 0;
  width: 60%;
}

.searchbar :focus {
  border: 0;
  color: white;
}

::-moz-placeholder {
  color: #464646;
  font-size: 0.9em;
  font-weight: bold;
  float: right;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #464646;
  font-size: 0.9em;
  font-weight: bold;
  float: right;
  opacity: 1;
}

::placeholder {
  color: #464646;
  font-size: 0.9em;
  font-weight: bold;
  float: right;
  opacity: 1;
}

button {
  border: 0;
  background-color: white;
}

.searchbar-border {
  border-bottom: 2px solid #0282f9;
}

.jumbo-img {
  height: 600px;
  background-position: center;
  background-size: cover;
}

